# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock
# Dependency directories
node_modules
node

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# ides
.vscode
.history
.idea
.settings
.project
*.iml
# distribution
target
etc
dist
compiled
coverage
